@charset "UTF-8";
/* Importo los archivos de apoyo */
/* Defino los colores de la paleta de la casita de Esther */
/* OPCION 1 */
/*
$colors:
#80C4AC,
#FBD75A,
#A8EECC,
#FBD75A,
#F47769,
#F1A29C,
#F3F0F1,
white,
#573D1C,
#FFB4A2,
#3F8EFC;
*/
/* OPCION 2*/ /*
$colors:
#70C7AD,
#70C7AD,
#E36397,
#70C7AD,
#FEEBC9,
#82548C,
#63ADF2,
#3A405A,
#FEEBC9,
#B18DB9,
#000103,
#FBD75A,
#70C7AD,
#3F8EFC;*/
/*OPCION 3*/
/* Defino los colores de la paleta de la casita de Esther */
/* OPCION 1 */
/*
$colors:
#80C4AC,
#FBD75A,
#A8EECC,
#FBD75A,
#F47769,
#F1A29C,
#F3F0F1,
white,
#573D1C,
#FFB4A2,
#3F8EFC;
*/
/* OPCION 2*/ /*
$colors:
#70C7AD,
#70C7AD,
#E36397,
#70C7AD,
#FEEBC9,
#82548C,
#63ADF2,
#3A405A,
#FEEBC9,
#B18DB9,
#000103,
#FBD75A,
#70C7AD,
#3F8EFC;*/
/*OPCION 3*/
:root {
  background-color: #3A405A;
}

/* Extend que configura grids sin bootstrap*/
/* Extend que marca el estilo del borde punteado*/
/* Estilos a la seccion con los botones para donar*/
.donaciones-item {
  display: flex;
  justify-content: center;
  padding: 2%;
  font-family: "Delius";
}

/* Estilo del borde punteado*/
.detalles-donaciones, .donaciones {
  border: dashed #70C7AD;
  border-radius: 2rem;
  padding: 1%;
  font-family: "Delius";
  display: flex;
  margin: 2% 5%;
  flex-direction: column;
  font-family: "Delius";
}

.seccion-principal {
  margin: 2% 5%;
  font-family: "Delius";
}
.seccion-principal p {
  font-family: "Montserrat";
}

.club {
  margin: 1% 5%;
  font-family: "Delius";
}
.club p {
  font-family: "Montserrat";
}

.container-button-club {
  margin-top: 2%;
}

.button-club {
  display: flex;
  justify-content: center;
}

.banner-club {
  width: 100%;
  height: 65vh;
  background-image: url("https://i.postimg.cc/8z70DpJV/group-portrait-adorable-puppies.jpg");
  background-position-y: 85%;
  background-size: cover;
}

.img-donaciones {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*Estilo a la seccion principal de Home */
.seccion-principal-home {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* Mixin que incluye configuraciones para la bg image*/
  background-image: url("https://i.postimg.cc/8z70DpJV/group-portrait-adorable-puppies.jpg");
  background-position-y: 85%;
  background-size: cover;
  /*Estilo a los botones de donar y adoptar de la home page*/
}

/* Estilo al contenedor de la foto y texto del quienes somos*/
#presentacion-container {
  margin: 0% 1%;
  /* Estilo al parrafo de quienes somos*/
  /*Estilo a la imagen de quienes somos */
}

#presentacion-container #parrafo-presentacion {
  font-size: 1em;
  font-family: "Montserrat";
  margin-left: 2%;
}

#presentacion-container #foto-presentacion {
  width: 100%;
}

/* Estilo a la section de quienes somos*/
#quienes-somos {
  width: 100%;
}

/* Estilo al H2 del quienes somos */
#title-quienes-somos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.7rem;
  font-style: bold;
  margin: 2% 1%;
  font-family: "Delius";
}

.container-buttons-index {
  margin-top: 2%;
}
.container-buttons-index .button-index {
  display: flex;
  justify-content: center;
  padding: 0%;
}

/* Ataca a la seccion principal de adopciones*/
.seccion-principal-sumate {
  margin: 1% 5%;
  font-family: "Delius";
}
.seccion-principal-sumate p {
  font-family: "Montserrat";
}

.form {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.contacto {
  font-family: "Delius";
  margin: 2% 5%;
  border: dashed #70C7AD;
  border-radius: 2rem;
}
.contacto .img-contacto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.contacto .listado-contacto {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto .listado-contacto .contacto-item {
  margin: 2% 0%;
}

/* Estilo a los botones */
.button {
  color: #4F5151;
  background-color: #70C7AD;
  font-size: 1.7em;
  font-family: "Delius";
  text-decoration: none;
  border-radius: 0.4rem;
  border-color: #3A405A;
  padding: 10px;
  border: 2px solid;
}

.button:hover {
  color: #573D1C;
  background-color: burlywood;
}

/* Estilo al botón principal de voluntariado*/
#button-container-voluntariado {
  display: flex;
  justify-content: flex-end;
  margin: 3%;
}

/* Estilo a los botones de la home page*/
.home-button {
  margin: 10% 0;
}

/* Estilo al contenedor de la barra de navegacion*/
.menu-container {
  background-color: #70C7AD;
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #70C7AD !important;
  /* Estilo al ul correspondiente al menú */
}

.navbar .menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* Estilo a los elementos del ul de la barra de navegación*/
}

.navbar .menu .menu-anchor {
  background-color: #70C7AD;
  font-size: 1.5rem;
  text-decoration: none;
  color: #4F5151;
  border-radius: 1rem;
  padding: 0.3em;
  border: 1px solid #3A405A;
  font-family: "Delius", sans-serif;
  font-style: bold;
}

.navbar .menu .menu-anchor:hover {
  color: #573D1C;
  background-color: burlywood;
}

/*Ataca al logo de la barra de navegacion*/
#logo {
  width: 6rem;
  transition-duration: 1s;
}

#logo:hover {
  transform: scale(1.3);
}

/*Estilos a la "patita"*/
.paw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-items: center;
  align-items: center;
  transition-duration: 3s;
}

.paw:hover {
  transform: rotate(1800deg);
}

#paw-image {
  width: 1.5em;
  height: 1.5em;
}

footer {
  background-color: #70C7AD;
  margin-top: 5%;
}

footer img {
  width: 2em;
}

.social-media-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.social-media {
  width: 25%;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: space-between;
}

/*
footer .footer-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

footer .footer-container .redes {
  height: 100%;
}*/
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
