/* Estilos a la seccion con los botones para donar*/

.donaciones {
    margin: 2% 5%;
  }
  
  .donaciones .donaciones-item {
    place-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
    font-family: $main-font;
  }
  
  /* Estilos a la seccion con parrafo y video sobre donaciones*/
  .detalles-donaciones {
    display: flex;
    margin: 2% 5%;
    flex-direction: column;
    font-family: $main-font;
  }
  
  .detalles-donaciones .explicacion-donaciones-container #objetivo-donaciones {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .explicacion-donaciones-item{
    
  }
  #vid-donaciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(assets/IRUYA-9.jpg);
    width: 20em;
    margin-left: 10em;
    border-radius: 2rem;
  }

  
/* Extend que configura grids sin bootstrap*/
.detalles-donaciones .explicacion-donaciones-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  /* Extend que marca el estilo del borde punteado*/
  .detalles-donaciones, .donaciones {
    border: dashed nth($colors,1);
    border-radius: 2rem;
    padding: 1%;
    font-family: $main-font;
  }

  .seccion-principal {
    margin: 1% 5%;
    font-family: $main-font;
  }
