/* Estilos a la seccion con los botones para donar*/

  .donaciones-item {
    display: flex;
    justify-content: center;
    padding: 2%;
    font-family: $main-font;
  }

  
  /* Estilo del borde punteado*/
  .detalles-donaciones, .donaciones, .transferencias-container {
    border: dashed nth($colors,1);
    border-radius: 2rem;
    padding: 1%;
    font-family: $main-font;
    display: flex;
    margin: 2% 5%;
    flex-direction: column;

    .datos-transferencias{
      font-size: 1.5em;
    }
  }


  .seccion-principal {
    margin: 2% 5%;
    font-family: $main-font;
    p{
      font-family: 'Montserrat';
    }
  }

  .club{
    margin: 1% 5%;
    font-family: $main-font;
    p{
      font-family: 'Montserrat';
    }
  }

  .container-button-club{
    margin-top: 2%;
  }

  .button-club{
    display: flex;
    justify-content: center;
  }
  .banner-club{
    width: 100%;
    height: 65vh;
    background-image: url("../assets/banners/BannerClubDesktop.jpg");
    background-position-y: 85%;
    background-size: cover;
  }

  .img-donaciones{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }