
/* Ataca a la seccion principal de adopciones*/
.seccion-principal-sumate{
    margin: 1% 5%;
    font-family: 'Delius';
    p{
      font-family: 'Montserrat';
    }
  }
  
  .form {
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }
    