
/* Ataca a la seccion principal de adopciones*/
.seccion-principal-adopciones {
    margin: 1% 5%;
  }
  
  #adopciones-grid-container {
    margin: 0 5%;
  }
  
  #adopciones-grid-container .adopciones-grid-item {
    place-items: center;
    text-align: center;
  }
  
  #adopciones-grid-container .adopciones-grid-item .adopciones-title {
    margin: 0;
  }
  
  #adopciones-grid-container .adopciones-grid-item .img-adopciones {
    width: 70%;
    margin: 5%;
  }
  
  .form {
    display: flex;
    justify-content: center;
    padding-top: 2%;
  }
    