
/* Ataca a la seccion principal de adopciones*/
.seccion-principal-sumate{
    margin: 2% 5%;
    font-family: 'Delius';
    p{
      font-family: 'Montserrat';
    }
  }
  
  .container-buttons-sumate {
    margin: 2% 5%;

    .sumate-item{
    display: flex;
    justify-content: center;
    align-content: center;
    }
  }
    